@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comic Papyrus';
    src: url('/fonts/ComicPapyrus.woff2') format('woff2'), url('/fonts/ComicPapyrus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
body {
    font-family: 'Comic Papyrus';
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/img/cage-collage-dark-bw.png');
}
